/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
}

#root {
  background: #282828;
  color: #ffffff;
  /* padding: 0; */
  /* padding: 2em; */
  margin: 0;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.noteList {
  padding-top: 6em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.noteItem {
  border: 1px solid #ffffff;
  margin: 1em;
  width: 30%;
  padding: .5em;
  cursor: pointer;

  border-radius: .3em;

}

.noteWindow {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100%;

}

.noteForm {
  display: flex;
  padding: 2em;
  background: #282828;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  border-radius: .3em;
}

.noteForm input {
  padding: .5em;
  margin: 1em 0;
  font-size: 1.5em;
  margin: .5em 0;
}

.noteForm textarea {
  padding: .5em;
  margin: .5em 0;
  font-size: 1.5em;
}

.openForm {
  background: #ffffff;
  position: absolute;
  bottom: 5em;
  right: 5em;
  border-radius: 25em;
  height: 8em;
  width: 8em;
  font-weight: bold;
  font-size: 1em;

}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.noteContent {
  height: 10em;
}


.noteForm input,
textarea {
  background: #282828;
  color: #ffffff;
  border: 0;
  font-family: inherit;
}

.formFooter {
  display: flex;
  justify-content: space-around
}

.formFooter button {
  background: #282828;
  border: 1px solid #ffffff;
  font-size: inherit;
  color: #ffffff;
  padding: 1em;
  width: 40%;
  border-radius: .3em;
}

.header {
  background-color: #fbbc04;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header:first-child {
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}


.header .navTitle {
  margin: 0 1em;
  display: flex;
  align-items: center;
}

.header button {
  width: 5em;
  margin: 0 1em;
  padding: .5em;
  background: #ffffff;
  color: #fbbc04;
  border: 1px solid #ffffff;
  border-radius: .3em;
}

.search input {
  padding: .5em;
  margin: 1em 0;
  font-size: 1em;
  margin: .5em 0;
  border: 0;
  border-radius: .3em;

}

.noteFooter {
  display: flex;
  justify-content: space-around;
}

.noteFooter button {
  width: 50%;
  background: transparent;
  border: 0;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: .5em;
  cursor: pointer;

  border-radius: .3em;
}

.noteFooter button:hover {
  font-weight: bold;
}

.noteHeader {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space;

}

.noteHeader button {
  background: #282828;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  color: #ffffff;
  padding: 1em;
  width: 40%;
}

.noteHeader .selected {
  font-weight: bold;
}

.itemInput,
.newItemInput {
  display: flex;
  align-items: center;
}

.itemInput button,
.newItemInput button {
  border: 0;
  background: transparent;
  color: #ffffff;
  font-size: 1.5em;
}

.newItemInput {
  padding-left: .8em;
}